<p id="notice"><%= notice %></p>

<p>
  <strong>Deadline at:</strong>
  <%= @task.deadline_at.strftime('%d.%m.%Y - %H:%M') %>
</p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Note:</strong>
  <%= @task.note %>
</p>

<p>
  <strong>Is done:</strong>
  <% if @task.is_done == true %>
    Yes
  <% else %>
    No
  <% end %>
</p>

<p>
  <strong>Category:</strong>
  <% unless @task.category.blank? %>
    <%= @task.category.title %>
  <% else %>
    There are no Category
  <% end %>
</p>

<p>
  <strong>Tag:</strong>
  <% if @task.tags.count.to_i == 0 %>
    There are no Tags
  <% else %>
    <% @task.tags.each do |tag| %>
      <%= tag.title %>.
    <% end %>
  <% end %>
</p>

<br>
<%= link_to 'Edit', edit_task_path(@task), class: "btn btn-success" %>
<%= link_to 'Back', tasks_path, class: "btn btn-primary" %>