

<h2>Categories and Tags</h2>
<p>
  <strong><h5>Categories:</h5></strong>
  <% current_user.categories.each do |category| %>
    <%= category.title %> <strong>|</strong>
      <% end %>
  <br>
  <strong><h5>Tags:</h5></strong>
  <% current_user.tags.each do |tag| %>
   #<%= tag.title %>
  <% end %>
</p>


<%= link_to 'Manage Categories a Tags', settings_path, class: "btn btn-primary" %>
<%= link_to 'Your Account', account_path, class: "btn btn-primary" %>

<%#= render 'tasks/index'%>
<hr>


<h1>Your Tasks</h1>
<p>
  <strong><h4>Tasks:</h4></strong>
  <% current_user.tasks.each do |category| %>
    <%= category.title %> <strong>|</strong>
  <% end %>
  <br>

<br>

<%= link_to 'Manage Your Tasks', tasks_path, class: "btn btn-primary" %>
<br><br>





