

<h2>Categories and Tags</h2>
<p>
  <strong><big>Categories:</big></strong>
  <% current_user.categories.each do |category| %>
    <big><%= category.title %>.</big>
      <% end %>
  <br>
  <strong><big>Tags:</big></strong>
  <% current_user.tags.each do |tag| %>
   <big> #<%= tag.title %></big>
  <% end %>
</p>


<%= link_to 'Manage Categories a Tags', settings_path(sort_by: "title"), class: "btn btn-primary" %>
<%= link_to 'Your Account', account_path, class: "btn btn-primary" %>

<%#= render 'tasks/index'%>


<br>
<hr>
<%= link_to 'All Tasks', tasks_path(sort_by: "title"), class: "btn btn-primary" %>
<br><br>





