<div class="container">
  <div class="row">
    <div class="col">

      <h2>Tag Detail</h2>

      <p>
        <strong>ID:</strong>
        <%= @tag.id %>
      </p>

      <p>
        <strong>Title:</strong>
        <%= @tag.title %>
      </p>

      <p>
        <strong>Color:</strong>
      <div style=" width: 20px; height: 20px; background-color: <%= @tag.color %>;"></div>
      <%= @tag.color %>
      </p>

      <p>
        <strong>Created At:</strong>
        <%= @tag.created_at.strftime('%d.%m.%Y - %H:%M') %>
      </p>

      <p>
        <strong>Updated At:</strong>
        <%= @tag.updated_at.strftime('%d.%m.%Y - %H:%M') %>
      </p>

      <%= link_to 'Edit', edit_tag_path(@tag), class: "btn btn-success" %>
      <%= link_to 'Back', settings_path(sort_by: "title"), class: "btn btn-primary" %>
    </div>
    <div class="col">
      <p>
      <h2>Tasks:</h2>
      <% @tag.tasks.each do |task| %>
        <p><%= link_to 'Detail', task, class: "btn btn-dark btn-sm" %>
          <%= task.title %>.</p>
      <% end %>
      </p>
    </div>

  </div>
</div>
