<div class="container">
  <div class="row">
    <div class="col">


      <h2>Category Detail</h2>

      <p>
        <strong>ID:</strong>
        <%= @category.id %>
      </p>

      <p>
        <strong>Title:</strong>
        <%= @category.title %>
      </p>


      <p>
        <strong>Color:</strong>
      <div style=" width: 20px; height: 20px; background-color: <%= @category.color %>;"></div>
      <%= @category.color %>
      </p>


      <p>
        <strong>Created At:</strong>
        <%= @category.created_at.strftime('%d.%m.%Y - %H:%M') %>
      </p>

      <p>
        <strong>Updated At:</strong>
        <%= @category.updated_at.strftime('%d.%m.%Y - %H:%M') %>
      </p>
      <%= link_to 'Edit', edit_category_path(@category), class: "btn btn-success" %></button>
      <%= link_to 'Back', settings_path(sort_by: "title"), class: "btn btn-primary" %>

    </div>
    <div class="col">
      <p>
      <h2>Tasks:</h2>
      <% @category.tasks.each do |task| %>
        <p><%= link_to 'Detail', task, class: "btn btn-dark btn-sm" %>
          <%= task.title %>.</p>
      <% end %>
      </p>
    </div>

  </div>
</div>